@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="text-danger">The Data entered is Incorrect</h2>
<label class="text-danger">@ViewBag.m</label><br />
<a asp-action="Index">Back to Home Page</a>